Options -Indexes


RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* index.php [L]


############################################################################
#### Добавляем слеш(/), если его нет, и это не файл.                    ####
############################################################################
#RewriteCond %{REQUEST_URI} !(.*)/$
   # Если слеша в конце нет.
#RewriteCond %{REQUEST_FILENAME} !-f
   # Не является файлом.
#RewriteCond %{REQUEST_URI} !\..+$
   # В URL нет точки (файл).
#RewriteCond %{REQUEST_URI} ^(.+)$
 # В URL есть хоть один символы
#RewriteRule ^(.*)$ $1/ [L,R=301]
   # Добавляем слеш в конце.
