@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('/src/fonts/Montserrat-Regular.ttf') format('ttf'),

}






body {
  font-family: 'Montserrat', sans-serif !important;
    color: #4f4f4f;
}

h1, h2, h3, h4, h5, h6, p, ul, span, div{
  color: #4f4f4f;
}


img, svg{
  font-size: 6px;
  line-height: 1em;
}



a{
  text-decoration: none;
  color: inherit;
}

a:hover{
  text-decoration: none;
  color: inherit;
}


.pr-50{
  padding-right: 50px;

}

.pl-50{
  padding-left: 50px;
}

.pr-150{
  padding-right: 150px;

}

.pl-150{
  padding-left: 150px;
}



.mt-20{
  margin-top: 20px;
}

.mb-20{
  margin-bottom: 20px;
}


.mt-30{
  margin-top: 30px;
}

.mb-30{
  margin-bottom: 30px;
}

.mt-40{
  margin-top: 40px;
}

.mb-40{
  margin-bottom: 40px;
}


.mt-50{
  margin-top: 50px;
}

.mb-50{
  margin-bottom: 50px;
}

.mt-70{
  margin-top: 70px;
}

.mb-70{
  margin-bottom: 70px;
}

.mt-90{
  margin-top: 90px;
}

.mb-90{
  margin-bottom: 90px;
}

.mt-100{
  margin-top: 100px;
}

.mb-100{
  margin-bottom: 100px;
}


.pt-30{
  padding-top: 30px;
}

.pb-30{
  padding-bottom: 30px;
}
.pt-40{
  padding-top: 40px;
}

.pb-40{
  padding-bottom: 40px;
}


.pt-50{
  padding-top: 50px;
}

.pb-50{
  padding-bottom: 50px;
}

.pt-70{
  padding-top: 70px;
}

.pb-70{
  padding-bottom: 70px;
}

.pt-90{
  padding-top: 90px;
}

.pb-90{
  padding-bottom: 90px;
}

.pt-100{
  padding-top: 100px;
}

.pb-100{
  padding-bottom: 100px;
}

:root{
  --pink: #c42f65;
  --gray: #4f4f4f;
  --green:#578754;
}


.pink{
  color: var(--pink);
}

.bg-pink{
  background-color: var(--pink);
}

.bg-light{
  background-color: #f2f2f2;
}


.gray{
  color: var(--gray);
}

.green{
  color: var(--green);
}

.bg-green{
  background-color: var(--green);
}

.white{
  color:#ffffff;
}

.w-60{
  width: 60%;
}



.btn-green{
  font-size: 20px;
  font-weight: 500;
  border-radius: 0;
  padding: 10px 30px;
  background-color: var(--green);
  text-transform: uppercase;
  border:none;
  transition: 0.5s;
}

.btn-green:hover{
  background-color: var(--pink);
}


.btn-sqr{
  border: none;
  border-radius: 0px;
  width: 100%;
  padding: 10px 25px;
}

.text-10{
  font-size: 10px;
  font-weight: 400;
}


.text-12{
  font-size: 12px;
  font-weight: 400;
}


.text-14{
  font-size: 14px;
  line-height: 1.3em
}


.text-16{
  font-size: 16px;
  line-height: 1.3em;
}

.text-18{
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4em;
}

.text-18-32{
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7em;
}


.text-20{
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
}

.text-24{
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3em;
}


.text-32{
  font-size: 32px;
  font-weight: 400;
  line-height: 1.5em;
}




.title-18{
  font-size: 18px;
  font-weight: 600;
  line-height: 1.1em;
  text-transform: uppercase;
}

.title-18-cc{
  font-size: 18px;
  font-weight: 600;
  line-height: 1.1em;
}

.title-20{
  font-size: 20px;
  font-weight: 600;
}

.title-24{
  font-size: 24px;
  font-weight: 600;
}


.title-36{
  font-size: 36px;
  font-weight: 700;
  line-height: 1.3em;
  text-transform: uppercase;
}


.title-32{
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.title-36-сс{
  font-size: 36px;
  font-weight: 700;
  line-height: 1.3em;

}


.title-32-сс{
  font-size: 32px;
  font-weight: 700;

}

.title-42{
  font-size: 42px;
  font-weight: 700;
  line-height: 1.3em;
  text-transform: uppercase;
}

.title-28{
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2em;
  text-transform: uppercase;
}



.btn-round{
  font-size: 15px;
  padding: 12px 24px;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  text-transform: uppercase;
  color:#fff;
}






/*Header*/




.head-grafik img{
  width: 20px;
  margin-right: 10px;
}
.head-logo img{
  width: 45px;
  margin-right: 15px;
}



.head-logo a{
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2em;

}

.head-grafik a, .head-grafik span{
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #4f4f4f;
}


.head-calc img{
  width: 27px;
  margin-right: 10px;
}

.head-calc span{
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;

}

.head-calc a{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 4px 0px rgb(0 0 0 / 50%);
  padding: 10px;
}


a.head-phone{
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}



.head-modal-btn{
  font-weight: 500;
}

.head-nav a{
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
}

.head-nav a:hover{
  color: #e4e4e4;
}


/*Okna */

.main-okna {
  background-image: url(/src/img/plastikovye-okna-v-voronezhe-kupit.jpg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;

}

.main-okna-content{
  padding-top:90px;
  padding-bottom:150px;
}

.cta-block{
  margin-top: 70px;
}


.main-okna-content .first{
  font-size: 42px;
  font-weight: 600;
  line-height: 50px;
}

.main-okna-content .pink{
  font-size: 150px;
  font-weight: 700;
  line-height: 150px;
}

.main-okna-content .second{
  font-size: 36px;
  font-weight: 500;
  line-height: 42px;
}


.cta-block .title{
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}

.private-link a{
  border-bottom: 1px dotted;
}

.cta-block .bg-green{
    width: 90%;
}

.cta-block .bg-green:hover{
  background: var(--pink);
  transition: 0.7s;

}




.form-inline .phone {
  border-radius: 0px;
  background-color: #fff;
  padding: .5rem 1rem;
  line-height: 1.4;
  font-size: 15px;
  border: 1px solid #818a91;
  min-height: 46px;
  width: 90%;
}


/* Pink + Green Advatages*/


.green-advantage{
  background-color: var(--green);
  opacity: .9;
}

.pink-advantage{
  background-color: var(--pink);
  opacity: .9;
}

.pink-advantage, .green-advantage {
  padding: 40px 60px;
  margin-top: -70px;
}

.advantages{
  padding-bottom: 90px !important;
}


/*Детская безопасность Главная Стр*/

.main-child div.first{
  background-image: url(/src/img/destkaya-bezopasnost.jpg);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
}

.main-child div.second{

    padding: 60px 0 45px 60px;
}

.main-child{
  padding-bottom: 130px !important;
}


.plus{
  font-size: 65px;
  font-weight: 600;
}

.main-child div.second{

}


/*Партнер Rehau*/

.auth-partner .text-18-32{
  padding: 45px 65px 45px 45px;
}

/*Преимущества*/

div.card-item-round{
  width: 15%;
  max-width: 15%;
}


/*Виды услуг*/

.services-white img{
  width: auto;
/* margin-right: 10px !important; */
  height: 45px;
}



.services-logo img{
  width: 50%;

  z-index: 1;
}

.services div.wrapper{
  background-color: #fff;
  border-top: 1px solid #e1e1e1;
  z-index: 2;
}

.services-card-okna{

  background-image: url(/src/img/service-okna.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.services-card-balkon{

  background-image: url(/src/img/service-balkon.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.services-card-house{

  background-image: url(/src/img/service-house.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.services-card-child{

  background-image: url(/src/img/service-child.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


.services-white a{
  padding:12px 24px;
  background-color: #FFFFFFED;
  border-radius: 0;
  box-shadow: 2px 2px 4px 0px rgb(0 0 0 / 50%);

}

.services-card{
  height: 400px;
  width: 23% !important;
  padding: 25px;
  box-shadow: 2px 2px 4px 0px rgb(91 66 66 / 37%)
}


.services-white span.gray.text-uppercase{
  line-height: 1.1em;
}

.services-white img {
  margin-right: 15px;
}


/*Наши работы*/

.our-works h3{
  background-color: #fff;
  padding:30px 0 30px 20px;
  margin: 0 0 0 -15px;
}

.our-works{
  border: 15px solid var(--green);
  margin: 10px;
  padding: 50px 0;
}

.foto-works img{
  object-fit: cover;
  height: 265px;
  width: 100%;
}

.foto-works{
  margin: 10px;
}


/*Калькулятор*/

.calculator-img{
  border: 15px solid var(--green);
}

.calculator-img img{
  width: 100%;
  height: auto;
  object-fit: cover;
}



button.prev, button.next {
  font-size: 16px;
  padding: 5px 20px;
  text-transform: uppercase;
  border-style: solid;
  border-width: 1px;
  border-radius: 0;
  background-color: transparent;
}

button.prev:hover {

  background-color: #e4e4e4;

}

button.next:hover {

  background-color: #e4e4e4;

}


button.prev {
  color: var(--gray);
  border-color: var(--gray);
}
button.next {
  color: var(--green);
  border-color: var(--green);
}




.quiz-wrapper .d-flex{
  width: 60%;
}


.quiz-img img {
  width: 80px;
  height: auto;
  object-fit: contain;
}

.quiz-img > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
.quiz-img > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
.quiz-img > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid var(--green);
  padding:10px;
}


/*ЗАМЕР*/

.zamer-wrapper{

  background-image: url(/src/img/bg-zamer.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-left: 0px;
  padding-right: 0px;


}



.zamer-bg{
  background-color: rgba(79, 79, 79, 0.7);
  transition: background .3s,border-radius .3s,opacity .3s;

}


.zamer-form .phone {
  border-radius: 0px;
  background-color: rgba(255,255,255,0.7);
  padding: .5rem 1rem;
  line-height: 1.4;
  font-size: 15px;
  border: 1px solid #fff;
  min-height: 46px;
  width: 95%;
}


/*Сертификаты */



.sert-item img{
  max-width: 170px;
  object-fit: contain;
}



/*Мобтльный офис*/
.mob-office-bg img {
  height: 100%;
  object-fit: cover;
}


button.btn-border{
  font-weight: 500;
  text-transform: uppercase;
  background-color: #FFFFFF00;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 0;
  color: #fff;

  padding: 10px 25px;
}



/*Дистанционный замер*/

.distantion-wrapper .bg-green{
  padding: 70px;
}

.distantion-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


input[type="text\ w-100"] {
  width: 100%;
  background-color: #FFFFFF99;
  border-color: #FFFFFF9E;
  border-width: 1px 0 0;
  border-radius: 0;
  line-height: 1.4;
  font-size: 16px;
  padding:10px;
}




/*СМС купон*/

.sms-form-wrapper input.w-100 {
  background-color: #fff;
  border-width: 0 0 1px;
  border-radius: 0;
  padding: 10px;
}






/*Акции*/
.akciya-img img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}



.akciya-card{
  background-color: #d57095;
  width: 46%;
  margin: 2%;
  -webkit-box-shadow: 2px 0px 15px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow:    2px 0px 15px 0px rgba(50, 50, 50, 0.2);
  box-shadow:         2px 0px 15px 0px rgba(50, 50, 50, 0.2);
}


.akciya-body li{
  margin: 10px 0px;
}

.akciya-button button{
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  border-color: #fff;
  background-color: var(--pink);
  color: #fff;
  padding: 7px 20px;
  transition: 0.7s;
}

.akciya-button button:hover{
  border-color: var(--pink);
  transition: 0.7s;
}


.akciya-carousel-wrapper {
  overflow: hidden;
}



.control-button a{
  margin: 0px 30px;
}

.control-button a:hover{
  cursor: pointer;
}

.control-button img{
  width: 15px;
}


.akcii-wrapper h2 {
  font-weight: 700;
}


/*ОТЗЫВЫ*/


.review-card {
  width: 32%;
  -webkit-box-shadow: 2px 0px 15px 0px rgba(50, 50, 50, 0.4);
  -moz-box-shadow:    2px 0px 15px 0px rgba(50, 50, 50, 0.4);
  box-shadow:         2px 0px 15px 0px rgba(50, 50, 50, 0.4);
  padding: 30px;
}


.review-img img{
  border-radius: 250px;
  object-fit: cover;
  width: 150px;
  height: 150px;

  margin-right: 30px;
}


.review-name img{
  width: 80px;
  height: auto;
  margin-bottom: 10px;
}


.review-name h3 {
  font-size: 20px;
  font-weight: 600;
}


.review-body p{
  color: #828282 !important;
  
  line-height: 1.5em;
}
